<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess" />
  </configSections>
  
  <connectionStrings>
    <add name="TestDb" connectionString="Data Source=xe;User Id=akkadotnet;Password=akkadotnet;"/>
  </connectionStrings>

  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="xe" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=XE)))"/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>